.container {
  background-color: rgb(235, 235, 235);
  border-radius: 24px;
  width: 94%;
  margin: 17px auto;
  margin-bottom: 41px;
  display: flex;
  flex-direction: column;
  box-shadow: 0.2px 0.2px 11px -1px black;
}
.profile-1 {
  display: flex;
  align-items: flex-start;
  width: 3%;
  margin: 12px;
}
.user {
  display: inline;
  margin: 0px 14px;
}
.user > p {
  margin: 0px;
  padding: 0px;
}
.displayname {
  font-size: 17px;
  margin: 0.6px;
  padding: 0.4px;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
}
.username {
  color: grey;
  font-size: 13px;
  padding: 0.3px;
  font-family: "Nunito", sans-serif;
}
.image {
  margin: 0px auto ;
  height: auto;
  width: 95%;
}

.image > img {
  max-width: 100% ;
  height: auto ;
}
.post-info {
  border-radius: 24px;
  margin: 12px;
  height: 60%;
}
.header {
  border-bottom: 0.3px solid black;
  padding: 14px 25px;
  font-family: "Ubuntu", sans-serif;
  font-size: 19px;
}
.caption {
  padding: 12px 24px;
  font-family: "Quicksand", sans-serif;
}
.readmore {
  align-self: flex-end;
  margin: 12px;
  padding: 6px 24px;
  cursor: pointer;
  border-radius: 32px;
  background-color: rgba(21, 51, 133, 0.6);
  font-family: "Ubuntu", sans-serif;
  box-shadow: 0.2px 0.2px 5px 0.001px rgb(63, 63, 63);
}
