@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700&display=swap");

.originals-page {
  border: 2px solid rgb(184, 184, 184);
  height: 87.7vh;
  background-color: rgb(238, 238, 238);
  width: 95vw;
  position: absolute;
  top: 87px;
  left: 2.5vw;
  border-radius: 34px;
  /* overflow-y: scroll; */
}
.originals-menu {
  width: 20vw;
  height: 100%;
  border-right: 2px solid rgb(0, 0, 0);
  border-top-left-radius: 34px;
  border-bottom-left-radius: 34px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.menu-1 {
  margin: 14px 0px;
  width: 99%;
  height: 26%;
  margin-bottom: 64px;
}

.originals-menu-btn {
  height: 40%;
  width: 94%;
  margin: 12px auto;
  border-bottom: 1px solid rgb(138, 138, 138);
  /* border-radius: 23px; */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  font-family: "Nanum Gothic", sans-serif;
  color: black;
}
.home-original-button {
  border: 1px solid black;
  height: 30%;
  border-radius: 23px;
  width: 76%;
  color: black;
}
.originals-menu-btn:hover {
  border-bottom: 1px solid black;
}
.home-original-button:hover {
  background-color: rgb(228, 228, 228);
}
.menu-2 {
  margin: 34px 0px;
  width: 89%;
}
.trend-1-original {
  cursor: pointer;
  border: 0.3px solid rgb(105, 105, 105);
  border-radius: 19px;
  margin: 8px 4px;
  font-family: "Josefin Sans", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 0px;
  text-align: left;
  transition: all 0.45sec ease-in-out;
}
.trend-1-original:hover {
  border: 2px solid black;
}
.Originals-feed {
  z-index: 0;
  /* border: 2px solid red; */
  height: 100%;
  width: 74.5vw;
  position: absolute;
  top: 0px;
  left: 20.2vw;
}
.originals-menu-modal {
  width: 100%;
  height: 100%;
  /* border-right: 2px solid rgb(0, 0, 0); */
  border-top-left-radius: 34px;
  border-bottom-left-radius: 34px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.Originals-Modal1 {
  height: 100%;
  background-color: white;
}
@media screen and (min-width: 1565px) {
}
@media screen and (max-width: 1455px) {
  .originals-menu {
    display: none;
  }
  .Originals-feed {
    width: 96vw;
    position: absolute;
    left: 1vw;
  }
  .originals-menu-modal {
    width: 100%;
    height: 100%;
    /* border-right: 2px solid rgb(0, 0, 0); */
    border-top-left-radius: 34px;
    border-bottom-left-radius: 34px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
}
@media screen and (max-width: 555px) {
}
